@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body{
  margin: 0 auto;
  padding: 0;
  background-color: #1D232A;
  font-family: 'Lora', serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

/* src/index.css or src/App.css */
