@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #0199b4;
}

::-webkit-scrollbar-thumb:hover {
  background: #05d8fe;
}

body{
  margin: 0 auto;
  padding: 0;
  background-color: #1D232A;
  font-family: 'Lora', serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

.heading{
  font-size: 40px;
  font-weight: 600;
  color: #a6adb5;
  letter-spacing: 2px;
  /* margin-top: 100px; */
  padding-top: 100px;
}

/* src/index.css or src/App.css */
