.tag{
    font-size: 50px;
    color: #a6adb5;
    letter-spacing: 2px;
    position: relative;
    margin-left: 50px;
}

.tag::before{
  content: '';
  position: absolute;
  height: 8px;
  width: 35px;
  background-color: #04d9ff;
  left: -45px;
  top: 25px;
  border-radius: 9px;
}
.hello {
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  color: #e58c33;
  -webkit-text-stroke: 0px #e58c33;
  /* text-transform: uppercase; */
  margin-top: 125px;
}
.hello::before {
  content: attr(data-text);
  position: absolute;
  letter-spacing: 1px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #a6adb5;
  -webkit-text-stroke: 0px #a6adb5;
  overflow: hidden;
  animation: animate 6s linear 1;
}

.img {
  background: url(../images/profile.webp);
  -webkit-border-size: cover;
  background-size: cover;
  background-position: center center;
  height: 350px;
  width: 350px;
  box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.2);
  animation: photo 5s ease-in-out infinite;
  z-index: 1;
  margin-top: 75px;
}

.mainHome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.content {
  position: absolute;
  width: 50%;
  white-space: nowrap; 
}

.content span {
  text-transform: uppercase;
  display: block;
}

.text1 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2.5px;
  /* margin-bottom: 20px; */
  background: #1d232a;
  position: relative;
  width: 60%;
  height: 40px;
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

.text2 {
  font-size: 18px;
  letter-spacing: 2px;
  color: #e58c33;
}

.tag{
    margin-top: 125px;
    color: #A6ADB5;
}


.resume {
  background-color: #05d8fe;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 9px;
}

.resume a {
  color: white;
  text-decoration: none;
}

.resume a:hover {
  text-decoration: underline;
}

.linkedin {
  /* Add styles for your LinkedIn button */
  background-color: #0077B5; /* LinkedIn blue */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 9px;
  margin-left: 10px;
}

.linkedin a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.linkedin:hover {
  background-color: #005983; /* Darker LinkedIn blue */
}
@keyframes text {
  0% {
    color: black;
    margin-bottom: -30px;
  }
  30% {
    letter-spacing: 10px;
    margin-bottom: -30px;
  }
  85% {
    letter-spacing: 4px;
    margin-bottom: -30px;
  }
  100% {
    margin-bottom: 0px;
  }
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 40%;
  }
}

@keyframes photo {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@media (max-width: 900px) {
  .mainHome{
   flex-wrap: wrap-reverse;
   margin: 0 auto;
  }
  .tag{
    font-size: 32px;
    letter-spacing: 1.5px;
}
.mainHome {
  height: 50hv;
}
.tag::before{
  content: '';
  position: absolute;
  top: 18px;
}
.tag{
  margin-top: 0px;
}
.content {
  width: 60%;
}

.text1 {
  font-size: 14px;
  letter-spacing: 1px;
  width: 100%;
  height: 30px;
}

.text2 {
  font-size: 14px;
  letter-spacing: 1px;
}

.hello {
  font-size: 14px;
  margin-top: 90px;
}
.img {
  height: 275px;
  width: 275px;
  margin-top: 70px;
}
@keyframes text {
  0% {
    color: black;
    margin-bottom: -20px;
  }
  30% {
    letter-spacing: 8px;
    margin-bottom: -20px;
  }
  85% {
    letter-spacing: 2px;
    margin-bottom: -20px;
  }
  100% {
    margin-bottom: 0px;
  }
}
}

@media (max-width: 400px) {
  .text1 {
    font-size: 12px;
    height: 30px;
  }
  .text2 {
    font-size: 12px;
    letter-spacing: 1px;
  }
  @keyframes text {
    0% {
      color: black;
      margin-bottom: -12px;
    }
    30% {
      letter-spacing: 4px;
      margin-bottom: -12px;
    }
    85% {
      letter-spacing: 1px;
      margin-bottom: -12px;
    }
    100% {
      margin-bottom: 0px;
    }
  }
}